body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 175px;
  
}
.nav--logo{
  max-width: 50px;
  max-height: 50px;
  padding: 1em;
}

nav {
height: 50px;
display: flex;
padding: 20px 36px;
box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);;
align-items: center;
justify-content: center;
background-color:  rgb(235, 118, 118);;

}

.travel-entry {
  display: flex;
  flex-direction: row;
margin-top: 2em;
padding: 2em;
align-content: center;
}

.travel-image{
width: 175px;
height: 200px;
left: 40px;
top: 100px;
border-radius: 5px;

}

.card-text-main{
 
 padding: 0 1em;
 background-color:pink;
 min-width:275px;
 min-height: 200px;


}
.card-text-main{
  display: flex;
  flex-direction: column;
  margin:1em;
}
.card-text-heading{
  display: flex;
  flex-direction: row;
  background-color: lawngreen;
  align-content: center;
  
}

h1, h2, h3,h4, p{
  margin:0;
  padding:0;
}



p{
  padding: 1em 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 15px;
}

h3, h4{
  padding: 10px;
}

.img--badge-to-do{
  
    
    background-color: rgb(251, 221, 252);
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px rgb(222, 213, 213) solid;
   
}

.img--badge-done{
  
    
  background-color: rgb(181, 250, 167);
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px rgb(222, 213, 213) solid;
 
}